@page
@model RazorMessageWallApp.Pages.GreetingModel
@{
    ViewData["title"] = "Greeting users";
    ViewData["greeting"] = Model.Greeting;
}

<h1 class="display-4">Greeting</h1>

<div class="col-md-6">
    <form method="post">

        <div class="form-group">
            <label>First name</label>
            <input type="text" class="form-control" asp-for="FirstName" placeholder="Type your first name" />
        </div>

        <div class="form-group">
            <label>Last name</label>
            <input type="text" class="form-control" asp-for="LastName" placeholder="Type your last name" />

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

    <br />
    <div class="form-group">
        <h2>Greeting:</h2>
        <p>@ViewData["greeting"]</p>

    </div>

    
</div>
