@page
@model RazorMessageWallApp.Pages.MessageWallModel
@{
    ViewData["Title"] = "Message wall";
}

<h1>@ViewData["Title"]</h1>

<form action="" method="post">
    <div class="form-group" >
        <label  ></label>
    </div>

</form>